<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

  <body>
<form method="POST">
  <!--Enter Age <input type= "text" name= "ageofuser" placeholder="Your Age"><br>-->
  <!--What type of work experience are you looking for? <br>-->
  <!--<input type="radio" name="type_of_job" value="Job">Jobs<br>-->
  <!--<input type="radio" name="type_of_job" value="Internship ">Internships <br>-->
  <!--<input type="radio" name="type_of_job" value="Volunteer">Volunteer Opportunities<br>-->
  
  <h1> Career Quiz</h1>
<h2>Select your favorite subject in school</h2>
  <select name="question1">
    <option value="math">Math</option>
    <option value="science">Science</option>
    <option value="history">History</option>
    <option value="art">Art</option>
    <option value="english">English</option>
  </select><br>
<h2>What level of education do you plan on pursuing?</h2>
<select name="question2">
    <option value="bachelors">Bachelors</option>
    <option value="PHD/doctorate">PHD/Doctorate</option>
    <option value="vocational">Vocational School</option>
  </select><br>
<h2>What personality type are you?</h2>
<select name="question3">
    <option value="extrovert">Extrovert</option>
    <option value="introvert">Introvert</option>
    <option value="ambivert">Ambivert</option>
  </select><br>
<h2>Are you more of a team leader or team member?</h2>
  <select name="question4">
    <option value="leader">Leader</option>
    <option value="member">Member</option>
  </select><br>
<h2>What are your interests?</h2>
  <select name="question5">
    <option value="traveling">Traveling</option>
    <option value="building">Brainstorming and building projects</option>
    <option value="food">Culinary Arts/Food</option>
    <option value="discovering">Learning and discovering new theories/facts</option>
    <option value="helping">Community Service/Helping others</option>
  </select><br><br>
 <input type = "submit" style="width:90px; height:40px; font-size: 20px;">
  
</form>





  </body>
</html>
