<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  <h1>Your Perfect Job!</h1>
 <h2><%=@answer%></h2>
 <br>
 <img src="<%=@result_pic%>" >
 <br>
 <%=@result_desc%> 
 
 
   
   
   
   
  </body>
</html>